/**************************/
/*  normalize everything  */
/**************************/
:host {
  all: initial;
  background: none;
  border-collapse: separate;
  border-spacing: 2px;
  caption-side: top;
  color: black;
  cursor: auto;
  direction: ltr;
  empty-cells: show;
  font: normal normal normal 16px/normal Arial,Helvetica,sans-serif;
  letter-spacing: normal;
  list-style: disc outside none;
  opacity: 1;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
}

/**************************/
/*  real styling          */
/**************************/
button {
  padding: 6px 10px;

  border: 0;
  color: white;

  background-color: rgb(0,0,0);
  box-shadow: inset 0px 0px 10px 2px rgb(100,100,100);

  transition: background-color 0.5s, box-shadow 0.5s;

  &.open {
    background-color: rgb(100,100,100);
    box-shadow: inset 0px 0px 10px 2px rgb(0,0,0);
  }
}
