/**************************/
/*  normalize everything  */
/**************************/
:host {
  all: initial;
  background: none;
  border-collapse: separate;
  border-spacing: 2px;
  caption-side: top;
  color: black;
  cursor: auto;
  direction: ltr;
  empty-cells: show;
  font: normal normal normal 16px/normal Arial,Helvetica,sans-serif;
  letter-spacing: normal;
  list-style: disc outside none;
  opacity: 1;
  text-align: left;
  text-indent: 0;
  text-transform: none;
  visibility: visible;
  white-space: normal;
  word-spacing: normal;
}

/**************************/
/*  real styling          */
/**************************/
:host {
  box-sizing: border-box;
  overflow: hidden;

  position: fixed;

  top: 0;
  bottom: 0;
  right: 0;
  width: 0;

  z-index: 2147483647;

  color: white;
  background-color: black;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);

  transition: width 0.5s, box-shadow 0.5s;
}

:host(.open) {
  width: 250px;
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.75);
}

.content {
  box-sizing: border-box;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 250px;
  height: 100%;
  padding: 10px;

  .header {
    flex: 0 0 30px;
    border-bottom: 2px ridge gray;
    text-align: center;
  }
  .body {
    flex: 1 1;
    position: relative;
    overflow: auto;
  }
  .footer {
    flex: 0 0 30px;
    border-top: 2px ridge gray;

    .logout {
      width: 100%;
      height: 100%;

      border: 0;
      background: none;
      color: white;
    }
  }
}
